<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Details</servlet-name>
        <servlet-class>controllers.Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controllers.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDetails</servlet-name>
        <servlet-class>controllers.EditDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContact</servlet-name>
        <servlet-class>controllers.AddContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditContact</servlet-name>
        <servlet-class>controllers.EditContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NameMatch</servlet-name>
        <servlet-class>controllers.NameMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhoneMatch</servlet-name>
        <servlet-class>controllers.PhoneMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartialMatch</servlet-name>
        <servlet-class>controllers.PartialMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateAccount</servlet-name>
        <servlet-class>controllers.DeactivateAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Details</servlet-name>
        <url-pattern>/Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDetails</servlet-name>
        <url-pattern>/EditDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContact</servlet-name>
        <url-pattern>/AddContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditContact</servlet-name>
        <url-pattern>/EditContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NameMatch</servlet-name>
        <url-pattern>/NameMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhoneMatch</servlet-name>
        <url-pattern>/PhoneMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartialMatch</servlet-name>
        <url-pattern>/PartialMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateAccount</servlet-name>
        <url-pattern>/DeactivateAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
